.admin_body {
    padding-top: 60px;
}


.admin_header {
    display: flex;
    text-align: center;
    position: fixed;
    left: 0;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    padding-top:3%;
    padding-left:2%;
}


.inventory_menu,
.team_menu,
.order_menu {
    background-color: blue;;
    padding: 8px 10px;
    color: white;
    border: 1px solid darkblue;
    border-radius: 5px;
}
.team_menu,
.order_menu {
    margin-top: 10px;
}

.admin_button {
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid blue;
    border-radius: 5px;
    margin: 15px 10px;
    cursor: pointer;
}

.admin_button:hover {
    text-decoration: none;
    color: darkblue;
}

.admin_button:active {
    background-color: lightblue;
    color: darkgreen;
}
/* Active Button */

.admin_active_button {
    background-color: #1c8ef8;
    color: white;
}