.login-form {
    width: 400px;
    margin: 0px auto !important;
    background-color: lightblue;
    align-items: center;
    padding: 30px !important;
    height: 60vh;
    vertical-align: middle;
    text-align: left;
}

.login-body {
    height: 100vh;
    background-color: black;
    padding-top: 100px;

}

.btn-block {
    margin-top: 40px;

}

.login-form h3 {
    margin: 0 25% !important
}

.btn-group {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    margin-top: 20px;
}

.button {
    width: 170px;
    border: 2px solid blue;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.active_button {
    background-color: blue;
    color: white;
}


.form_group {
    margin: 0 !important;
    width: 340px !important;
}